<div class="drink_container span6">
  <div class="drink">
    <div {{bindAttr class="milk drink.milk_type drink.milk_amount"}}></div>
    <div {{bindAttr class="essence drink.strength drink.drink_type"}}></div>
    <div {{bindAttr class="sugar drink.sugar_type drink.sugar_computed"}}></div>
  </div>
  <h2 class='name'>{{drink.name}}</h2>
  {{#if isEditing}}
    <div class="btn-group">
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Drink type<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% DrinkType.all.each do |type| %>
            <li><%= type.value %></li>
          <% end %>
        </ul>
    </div>
  {{else}}
    <p class='description'>{{drink.description}}</p>
  {{/if}}
</div>