@import "../colors";

header{
  display: none;
}

.alert {
  display: none
}

.btn-toolbar{
  display: none;
}

.drinks .drink-container{
  width: 10%;
}

.drinks .add_drink_button{
  visibility: hidden;
}

.drinks{
  overflow: hidden;
  width: 980px;
  .drink{
    border: 10px solid #777;
    padding: 0;
    .milk{
      border-top: 10px solid $regular-milk-color; // by milk
      height: 0;

      &.low_fat{
        border-top-color: $lowfat-milk-color;
      }

      &.soy{
        border-top-color: $soy-milk-color;
      }

      &.none{
        border-top: 0;
        border-bottom: 0;
      }

      &.touch {
        border-top-width: 5px;
        border-bottom-width: 5px;
      }

      &.little{
        border-top-width: 10px;
      }

      &.third {
        border-top-width: 25px;
      }
      &.half {
        border-top-width: 45px;
      }
      &.max {
        border-top-width: 50px;
      }


    }
    .essence{
      border-top: 100px solid blue;
      height: 0;

      &.coffee{
        border-color: $regular-coffee-color;

        &.light{
          border-color: $light-coffee-color;
        }
        &.strong{
          border-color: $strong-coffee-color;
        }
      }
      &.tea{
        border-color: $tea-color;
      }
    }
    .sugar{
      bottom: 5px;
      left: 5px;
      right: 5px;
    }

    &:after{
      right: -35px;
      top: 30px;
    }
  }
}