.btn-toolbar.pull-right
  .btn-group
    - if owner_signed_in?
      %a.btn.btn-medium.add{:href => new_drink_path}
        %i.icon-plus-sign
        Add drink
    %a.btn.btn-medium.print{:href => "javascript:window.print()"}
      %i.icon-print
      Print spec
    %a.btn.btn-medium.share{:href => "#"}
      %i.icon-share
      Share URL
    .share-tooltip{:style => "display:none"}
      %label Share URL
      %input{:type => :text, :value => token_share_url()}
.drinks
  - @drinks.each_slice(2) do |drinks|
    .row-fluid
      != render :partial => "common/drink", :locals => {:drink => drinks.first}
      - if drinks.second.present?
        != render :partial => "common/drink", :locals => {:drink => drinks.second}
  - if @drinks.empty?
    .well
      %h2
        You don't have any drinks.
        = link_to "Add a drink", new_drink_path
        and start brewing.
