defaults: &defaults
  adapter: mysql2
  username: root
  password: hello
  encoding: utf8

production:
  database: coffeespec
  <<: *defaults

development:
  database: coffeespec
  <<: *defaults

test:
  database: coffeespec_test
  <<: *defaults