!= render :partial => 'common/page_header', :locals => {:company => @company}
!= render :partial => "toolbar"
:erb
  <script type='text/javascript'>
    $(function() {
      CoffeeSpec.drinksController.loadAll(<%= @drinks.to_json %>);
      CoffeeSpec.drinkTypeController.loadAll(<%= Drink::DRINK_TYPES.keys.to_json %>);
      CoffeeSpec.milkTypesController.loadAll(<%= Drink::DRINK_ASPECTS[:milk][:type].to_json %>);
     });
  </script>

.drinks
  :handlebars
    {{view CoffeeSpec.DrinksView}}
- if @drinks.empty?
  .well
    - if can_edit?
      %h2
        You don't have any drinks.
        = link_to "Add a drink", new_company_drink_path(@company, :token => @token)
        and start brewing.
    - else
      %h2
        There are no drinks for this company
- else
  != render :partial => "common/add_drink"

