!= render :partial => "toolbar"
:erb
  <script type='text/javascript'>
    $(function() {
      CoffeeSpec.drinksController.loadAll(<%= @drinks.to_json.html_safe %>);
     });
  </script>
:handlebars
  {{view CoffeeSpec.DrinksView}}

