$glass-color: #dedede;

$regular-milk-color: white;
$lowfat-milk-color: rgba(255, 255, 255, 0.8);
$soy-milk-color: #fafad2;


$regular-coffee-color: #ad8850;
$light-coffee-color: #dcb062;
$strong-coffee-color: #381f18;

$tea-color: #ce492f;


$white-sugar-color: white;
$brown-sugar-color: #996414;
