$glass-color: #ababab;

$regular-milk-color: white;
$lowfat-milk-color: rgba(255, 255, 255, 0.8);
$soy-milk-color: #fafad2;


$regular-coffee-color: #ad8850;
$light-coffee-color: #dcb062;
$strong-coffee-color: #381f18;

$earl-grey-tea-color: #db4a0c;
$herbal-tea-color: #eb9696;
$green-tea-color: #abc564;

$teabag-color: #d3d4b2;
$teabag-string-color: #444;


$white-sugar-color: white;
$brown-sugar-color: #996414;


$water-color: #B1DAF0;

$orange-juice-color: #F5C21B;
$grapefruit-juice-color: #FA7D00;
$lemon-juice-color: #F5C21B;


$coke-color: #333;
$sprite-color: #94D17B;
$fanta-color: #F5C21B;
$soda-color: #B1DAF0;
$soft-drink-bubble: white;