/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
*/

// Set the correct sprite paths
$iconSpritePath: url(image-path('glyphicons-halflings.png'));
$iconWhiteSpritePath: url(image-path('glyphicons-halflings-white.png'));
$navbarBackground: #381f18;
$navbarBackgroundHighlight: lighten($navbarBackground, 10);
$navbarLinkColor: white;
//$navbarLinkColorHover: lighten($navbarLinkColor, 20);

@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

.navbar .brand{
  //color: #381f18;
  //font-weight: bold;
}

.title{
  font-weight: 200;
}

.landing{
  h1{
    font-size: 100px;
    line-height: 120px;
    color: #381f18;
  }
  p{
    font-weight: 100;
    font-size: 25px;
    margin-left: 40px;
  }

  .btn{
    width: 200px;
    margin: 40px auto;
    display: block;
  }
}

footer{
  p{
    margin: 0;
  }
  .smaller{
    font-size: 0.8em;
  }
}

hr.soften{
  height: 1px;
  //margin: 14px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent,  rgba(0, 0, 0, .1),  transparent);
  background-image: -ms-linear-gradient(left,   transparent,  rgba(0, 0, 0, .1),  transparent);
  background-image: -o-linear-gradient(left,   transparent,  rgba(0, 0, 0, .1),  transparent);
  border: 0;
}

.features{

  img{
    float: left;
    margin: 7px 10px 0 0;
    opacity: .8;
  }

  h2{
    font-weight: 300;
  }

  h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
  }

}
