// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";

.add_drink{
  .drink{
    @include opacity(0.3);
  }
  .drink:after{
    display: block;
    @include opacity(1);
  }
  .drink:before{
    content: "+";
    font-size: 100px;
    position: absolute;
    left: 6px;
    top: 45px;
    font-weight: bold;
  }
  &:hover .drink{
    @include opacity(0.5);
  }
  &.drink_container:hover h2{
    color: #333;
  }
  a{
    color: black;
    text-decoration: none;

  }
  &.drink_container h2{
    line-height: 120px;
    color: #555;
    margin: 0;
    text-decoration: none;
  }
  cursor: pointer;
}