$drink-height: 120px;
$drink-width: 0.6 * $drink-height;

.drinks{
  clear: both;
}

.drink_container{
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  .drink{
    float: left;
    margin-right: 50px
  }
  h2{
    font-size: 4em;
    line-height: 1.2em;
    margin-top: 0.3em;
  }
  p{
    max-height: 30px;
    color: #999
  }
  .edit{
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
  }
  &:hover{
    .edit{
      opacity: 1;
    }
  }
}

.drink{
  $glass-color: #777;
  $glass-padding: 10px;
  width: $drink-width;
  height: $drink-height;
  background: $glass-color;
  padding: $glass-padding;
  position: relative;
  box-sizing: border-box;

  &::after{
    border: $glass-padding solid $glass-color;
    background: white;
    content: "";
    width: 25px;
    height: 30px;
    position: absolute;
    right: -25px;
    top: 40px;
    z-index: -1;
  }

  .milk{
    background: white;
    width: 100%;
    height: 10%;
    float:left;
    border-bottom: $glass-padding solid $glass-color;

    &.none{
      height: 0;
      border-bottom: 0;
    }

    &.touch {
      height: 5%;
      border-bottom-width: $glass-padding / 2;
    }

    &.little{
      height: 10%;
    }

    &.third {
      height: 25%;
    }
    &.half {
      height: 40%;
    }
    &.max {
      height: 50%;
    }


    &.low_fat{
      background: rgba(255, 255, 255, 0.8);
    }

    &.soy{
      background: #fafad2;
    }

  }

  .essence{
    height: 100%;
    width: 100%;

    &.coffee{
      background: #ad8850;

      &.light{
        background: #dcb062;
      }

      &.strong{
        background: #381f18;
      }
    }

    &.tea{
      background: #ce492f;
    }
  }

  .sugar{
    position: absolute;
    bottom: $glass-padding + 5px;
    left: $glass-padding + 5px;
    right: $glass-padding + 5px;

    &::before{
      content: "";
      color: white;
      font-size: 24px;
    }

    &.brown::before{
      color: brown;
    }

    &.s05::before{
      content: "▪";
    }
    &.s10::before{
      content: "■";
    }
    &.s15::before{
      content: "■▪";
    }
    &.s20::before{
      content: "■■";
    }
    &.s30::before{
      content: "■■■";
    }

    &.artificial{

      &.s05::before{
        content: "・";
      }
      &.s10::before{
        content: "●";
      }
      &.s15::before{
        content: "●・";
      }
      &.s20::before{
        content: "●●";
      }
      &.s30::before{
        content: "●●●";
      }
    }
  }
}