- Drink.all.each_slice(2) do |drinks|
  .row-fluid
    != render :partial => "common/drink", :locals => {:drink => drinks.first}
    - if drinks.second.present?
      != render :partial => "common/drink", :locals => {:drink => drinks.second}