.drink_container.span6
  != render :partial => "common/drink_infograph", :locals => {:drink => drink}
  %h2.name
    = drink.name
    - if can_edit?
      %a{:href => edit_company_drink_path(drink.company, drink)}
        %i.icon-pencil.edit
  %p.description= drink.description
