.btn-group
  %a.btn.btn-small.edit{:href => edit_company_drink_path(drink.company, drink)}
    %i.icon-edit
    Edit
.btn-group.edit_mode{ hide }
  %a.btn.btn-small.save{:href => "javascript:;"}
    %i.icon-ok
    Save
  %a.btn.btn-small.cancel{:href => "javascript:;"}
    %i.icon-remove
    Cancel
  %a.btn.btn-small.delete{:href => "javascript:;"}
    %i.icon-trash
    Delete