.drink_container.span6
  != render :partial => "common/drink_infograph", :locals => {:drink => drink}
  %h2.name
    = drink.name
  %p.description= drink.description.capitalize
  != render :partial => "common/drink_toolbar", :locals => {:drink => drink}
