.drink_container.span6
  != render :partial => "common/drink_infograph", :locals => {:drink => drink}
  %h2.name
    = drink.name
    - if owner_signed_in?
      %a{:href => drink_path(drink)}
        %i.icon-pencil.edit
  %p.description= drink.description
